.employee-list{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 2vh;
}

.employee-list li{
    padding-right: 200px;
    list-style: none;
}

.open-modal-btn {
    margin-left: 20px;
}