.modal-background {
    width: 50vw;
    height: 50vh;
    /* background-color: rgba(200, 200, 200); */
    /* absolute only one can pop up */
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.modal-container {
    /* position: absolute; */
    width: 500px;
    height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  
.modal-container .m-title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
  }
  
.title-close-btn {
    display: flex;
    justify-content: flex-end;
  }
  
.title-close-btn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  
.modal-container .m-body {
    /* flex: 50%; */
    /* display: flex; */
    /* justify-content: center; */
    padding: 50px;
    /* align-items: center; */
    /* font-size: 1.7rem; */
    /* text-align: center; */
  }
  
.modal-container .m-footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.modal-container .m-footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
    box-shadow: -5px 4px 4px rgb(133, 126, 126);
  }
  
#cancel-btn {
    background-color: crimson;
}