.shift-form{
    padding-left: 40px;
    /* margin-left: 40px; */
    padding-bottom: 30px;
}

.button{
    /* margin-left: 20px; */
    width: 5em;
    transition: color .5s;
    text-align: center;
    font-size: 15px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
    border-left: 20px;
}