.portal-container {
    padding-top:200px;
    /* display: flex; */
    
}


.header {
    position: absolute;
    top: 0;
    /* left: 0; */
    width: 100%;
    padding: 30px 30px;
    background: beige;
    display: flex;
    z-index: -1;
    
}
 

.logo-image {
    max-width: 100px;
    margin-bottom: 20px;
    border-radius: 10%;
    

}


/* logout button */
.logout-button {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 0;
    margin: 0;
}

/* .shift-box { */
    /* padding: 10px;
    border: 1px black solid; */
    /* margin: 50px; */
    /* border-radius: 5px; */
    /* justify-content: center;
    align-items: center;
    display: flex; */
    /* width: 300px; */
    /* border: 1px solid black; */
    /* padding: 20px; */
    /* text-align: center; */
/* } */

/* .shift-title {
    text-align: center;
}

.shifts-list {
    text-align: left;
} */

.component-tiles {
    display: flex;
    justify-content: center;
    /* flex-direction: column;
    align-items: center; */
    

}

.box {
    width: 500px;
    height: 500px;
    background-color: lightblue;
    margin: 10px;
    border-radius: 5px;
    flex: 1;
    box-sizing: border-box;

}

.team-box {
    width: 500px;
    height: 500px;
    background-color: lightblue;
    margin: 10px;
    border-radius: 5px;
    flex: 1;
    box-sizing: border-box;
}