.portal-container {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */

}

/* logo */
.logo {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.logo-header {
    text-align: center;
}

.logo-image {
    max-width: 100px;
    margin-bottom: 20px;
    border-radius: 10%;
    

}


/* logout button */
.logout-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
    margin: 0;
}